
/* códigos do menu*/


body{
    background-color:black;
    margin:0;
    font-family: 'MuseoModerno', cursive;
}
#siteHeader{
    color: white;
    display: flex;
    padding-left: 270px;
}
#top{ 
    padding-right: 12px;
    padding-left: 5px;
    line-height: 40px
}
#option{
    padding-left:10px;
    padding-right: 10px;
    line-height: 45px;
    font-size: 20px;
    
}
#option a:hover{
   color: cyan;
}
a{
    text-decoration: none;
    color:white;
}
section{
    display: flex 
}
.rede{
    padding-left: 40px;
    line-height: 55px;
}
p a img{
    width: 20px;
    height: 20px;
}
 /* códigos do carrosel/slide */
#banner{
    max-width: 100%;
}
#main{
    max-width: 800px;
    margin: 0 auto;
}

/* códigos da tabela*/
table{
    color: white;
    border-spacing: 2px;
}
#tabela{
    display: flex;
    margin-top: 13px;
    
}
tr {
    height: 50px;
}
td {
    width: 120px;
    text-align: center;
}
button{
    background-color:cyan;   
}
button a{
    color: black;
}
#nome{
      background-color: rgb(228, 41, 72);
}
/* anúncio */
#prop{
    background-image: url("live.jpg");
    width: 400px;
    margin:0;
    text-align: center;
    margin-inline-start: 270px;
    
}
h1 p{
    color: white;
    margin-top: 50px;
}
h1 a:hover{
    color:cyan;
}
h1 a{
  font-size: 50px;
}

/* video */
#video{
  
}
#last{
    color:white;
    margin-left: 25%;
    margin-right: 25%;
    text-align:center;
    
}
iframe{
   border: cyan solid;
   margin-top: 10px;
   transform: translate(65%,0%);
}
/* footer */
#sitefooter{
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    background-color: cyan;
    padding: 15px;
    max-height: 15px;
    font-size: 15px;

}
@media screen and (max-width:500px){
    #siteHeader{
        flex-direction: column;
        padding-left: 0px;
    }
    #top{
        text-align: center;
    }
    #option{
        text-align: center;
    }
    section{
        margin:0 auto;
    }
    #prop{
        margin: 0 auto;
        font-size: 20px;
        max-width: 260px;
    }
    #prop a{
        font-size: 40px;
    }
    #tabela{
        flex-direction: column;
    }
    #video{
       
    }
    iframe{
        max-width: 300px;
        max-height: 200px;
        transform: translate(30%,0%);
    }
    footer{
        font-size: 12px;
        text-align: center;
    }
    .rede{
        padding-right: 10px;
        padding-left: 10px;
    }
    #last{
        font-size: 20px;
    }
}
@media screen and (min-width:360px){
    iframe{
        max-width: 300px;
        max-height: 200px;
        transform: translate(10%,0%);
    }
}
@media screen and (min-width:375px){
    iframe{
        max-width: 300px;
        max-height: 200px;
        transform: translate(11%,0%);
    }
}


